# Secrets
manifest.private.der
manifest.public.der

/.internal
/build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins

## Bundle
#  Android
armv7-android
debug.keystore
debug.keystore.pass.txt